.root {
  display: grid;
  margin-bottom: 30px;
  gap: 8px;

  @media (max-width: 1440px) {
    margin-bottom: 16px;
    gap: 6px;
  }
}

.logo {
  padding: 30px;
  display: flex;
  justify-content: center;

  svg {
    height: 50px;
  }

  @media (max-width: 1440px) {
    padding: 16px;

    svg {
      height: 40px;
    }
  }
}

.item {
  padding: 10px 30px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 10px;
  transition: .1s;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  color: $Black_CHC;

  @media (max-width: 1440px) {
    padding: 6px 16px;
    font-size: 15px;
    gap: 6px;

    svg {
      width: 21px;
      height: 21px;
    }
  }

  & + div {
    transition: .1s;
  }

  &:hover, &.active {
    background: $Green_CHC;
    color: white;

    & + div {
      background: $Green_CHC;
    }

    svg {
      color: white;
    }
  }
}

