.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.ReactModal__Content {
    min-width: 422px;
    max-height: 100%;
}

@media (max-width: 1440px) {
    .ReactModal__Content {
        min-width: 350px;
    }
}

@media print {
    .ReactModal__Overlay {
        position: static !important;
        inset: unset !important;
    }
}
