$Red_CHC: #df3b57;
$Black_CHC: #232323;
$Gray2_CHC: #828282;
$Gray_4: #BDBDBD;
$White_CHC: #ffffff;
$White_CHC2: #f5f8ff;
$LightBlue_CHC: #e5f2ff;
$LightBlue_CHC2: #e9eef6;
$Green_CHC: #009e61;
$Green_CHC_2: #00784a;
$Gray_CHC: #f2f2f2;
$Gray_CHC_2: #bdbdbd;
$Gray_CHC_3: #e0e0e0;
$Orange_CHC: #ee8234;
$Orange_CHC_2: #d95e05;
$Blue_CHC: #0b6be6;
$Blue_CHC_H: #095fcc;
$Blue_CHC_H2: #004bab;
$Light_green_CHC: #d1f9e9;
$LightRed_CHC: #ffc8d1;
$Gradient_CHC: linear-gradient(266.79deg, #7000ff 0%, #d500a6 100%);

$Gray_6: #F2F2F2;
